// CARD ACTIONS (EXCEPT BUSINESS LIST PAGE)
.backoffice-container {
    .card-actions {
        .search-container {
            .input-search {
                .el-input__suffix {
                }
            }
        }
    
        .add-btn-container {
            margin-top: 0px !important;
        }
    }
    
    @media only screen and (max-width: 425px) {
        .card-actions {
            display: block !important;
            .search-container, .add-btn-container {
                margin: auto !important;
                width: 100% !important;
            }
    
            .add-btn-container {
                margin-top: 15px !important;
                padding: 3px !important;
    
                .btn-red {
                    width: 100% !important;
                }
            }
        }
    }
}
